<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="michiyo_wheel">

<propety name="tread" value="0.150"/>
<propety name="wheel_base" value="0.150" />
<propety name="width" value="0.024" /> 
<propety name="diameter" value="0.040" />

  <xacro:macro name="wheel" params="prefix reflect">
    <link name="${prefix}_wheel">
      <visual>
	<geometry>
	  <mesh filename="package://michiyo_description/meshes/tire.dae" />
	</geometry>
	<origin xyz=""
      </visual>

      <collision>
      </collision>

      <inertia>
      </inertia>
    </link>

    <joint>
    </joint>

  </xacro:macro>
  <xacro:wheel prefix="front_right"/>
  <xacro:wheel prefix="front_left"/>
  <xacro:wheel prefix="rear_right"/>
  <xacro:wheel prefix="rear_left"/>

</robot>
